/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;	
}

.brand-logo {
	font-family: 'Fjalla One', sans-serif;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.slideimg {
    -webkit-filter: opacity(60%); /* Safari */
    filter: opacity(60%);
}

.card-title {
	font-family: 'Open Sans', sans-serif;
}

#search {
    display: none;
    margin-bottom: 0px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

